{% extends 'base.html' %}

{% load staticfiles %}

{% block barra_de_navegacion %}

    {% if user.is_authenticated %}

	    {% if user.is_staff %}
            <a class="mdl-navigation__link" href=".."><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">wc</i>Pacientes</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Areas</a>
            <a class="mdl-navigation__link" href="../profesionales"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Profesionales</a>
            <a class="mdl-navigation__link" href="../cobranza"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Cobranza</a>
            
	    {% else %}
            <a class="mdl-navigation__link" href=".."><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">wc</i>Pacientes</a>
            <a class="mdl-navigation__link" href="../facturacion"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Facturación</a>
            <a class="mdl-navigation__link" href="../cobranza"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Cobranza</a>
            
	    {% endif %}
    {% endif %}

{% endblock %}


{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/boton-flotante.css' %}" />

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Area</th>
      <th>Quantity</th>
    </tr>
  </thead>
  
  <tbody>
  {% for area in areas %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{ area }}</td>
      <td>25</td>
    </tr>
  {% endfor %}
  
  </tbody>
</table>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--floating-action mdl-js-ripple-effect mdl-color-text--accent-contrast">
  <i class="material-icons">add</i>
</button>

{% endblock %}
