i{% extends 'base.html' %}

{% load staticfiles %}


{% block body_block %}
{% if user.is_authenticated %}
	{% if user.is_staff %}
	
<style>
		
		.demo-card-wide > .mdl-card__title {
		color: #999999;
		height: 176px;
		background: url("{% static 'images/header.jpg' %}") center / cover;
		}
		.demo-card-wide > .mdl-card__menu {
		color: #fff;
		}
		.mdl-card__title-text {
		font-size: 2.7em;
		}
		.mdl-card__supporting-text{
		font-size: 1em;
		}
		</style>
		
		<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--2-col"></div>
		<div class="demo-card-wide mdl-card mdl-shadow--3dp    mdl-cell mdl-cell--8-col mdl-cell--8-col-phone">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Editar datos del paciente</h2>
		</div>
		<div class="mdl-card__supporting-text">	

		<form method="POST">{% csrf_token %}
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" maxlength="8" name="dni" pattern="-?[0-9]*(\.[0-9]+)?" value="{{ paciente.dni }}">
				<label class="mdl-textfield__label" for="sample4">DNI </label>
				<span class="mdl-textfield__error">Eso no es un numero!</span>
			</div><br>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" maxlength="30" name="nombres" value="{{ paciente.nombres }}">
				<label class="mdl-textfield__label" for="sample4">Nombres</label>
				<span class="mdl-textfield__error">Que paso aca?</span>
			</div><br>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" maxlength="30" name="apellidos"  value="{{ paciente.apellidos }}">
				<label class="mdl-textfield__label" for="sample4">Apellidos</label>
				<span class="mdl-textfield__error">Que paso aca?</span>
			</div><br>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" maxlength="40" name="diagnostico" value="{{ paciente.diagnostico }}">
				<label class="mdl-textfield__label" for="sample4">Diagnostico</label>
				<span class="mdl-textfield__error">Que paso aca?</span>
			</div><br>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" maxlength="10" name="obra_social" value="{{ paciente.obra_social }}">
				<label class="mdl-textfield__label" for="sample4">Obra Social</label>
				<span class="mdl-textfield__error">Que paso aca?</span>
			</div><br>
			<div class="mdl-card__actions mdl-card--border">
				<input type="file" name="foto" accept=".jpeg, .jpg, .png" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" value="{{ paciente.foto }}"><br>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" maxlength="10" name="fecha_nacimiento" value="{{ paciente.fecha_nacimiento.year }}-{{ paciente.fecha_nacimiento.month }}-{{ paciente.fecha_nacimiento.day }}">
				<label class="mdl-textfield__label" for="sample4">Fecha de nacimiento (AAAA-MM-DD)</label>
				<span class="mdl-textfield__error">Que paso aca?</span>
			</div><br>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" maxlength="40" name="numero_afiliado" pattern="-?[0-9]*(\.[0-9]+)?" value="{{ paciente.numero_afiliado }}">
				<label class="mdl-textfield__label" for="sample4">Numero de Afiliado </label>
				<span class="mdl-textfield__error">Eso no es un numero!</span>
			</div><br>
			<div class="mdl-card__actions mdl-card--border">
				<input type="submit" value="Guardar" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" style="color: #78909C;">
			</div>
		</form>
		</div>
		</div>
	{% else %}
		
		<style>
		
		.demo-card-wide > .mdl-card__title {
		color: #999999;
		height: 176px;
		background: url("{% static 'cb/welcome_card.jpg'%}") center / cover;
		}
		.demo-card-wide > .mdl-card__menu {
		color: #fff;
		}
		.mdl-card__title-text {
		font-size: 2.7em;
		}
		.mdl-card__supporting-text{
		font-size: 1em;
		}
		</style>
		
		<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--3-col"></div>
		<div class="demo-card-wide mdl-card mdl-shadow--2dp    mdl-cell mdl-cell--6-col mdl-cell--8-col-phone">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">{{ paciente.nombres }} {{ paciente.apellidos }}</h2>
		</div>
		<div class="mdl-card__supporting-text">
				<b>DNI : </b>{{ paciente.dni }}<br>
				<b>Diagnostico :</b> {{ paciente.diagnostico }}<br>
				<b>Obra Social :</b>{{ paciente.obra_social }}<br>
				<b>Fecha de nacimiento :</b> {{ paciente.fecha_nacimiento }}<br>
				<b>Numero de afiliado :</b> {{ paciente.numero_afiliado }}<br>
		</div>
		</div>
		</div>
	{% endif %}
{% else %}
<h1>acceso denegado</h1>
{% endif %}
{% endblock %}