{% extends 'base.html' %}

{% block body_block %}



<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-phone   demo-card-wide mdl-card mdl-shadow--3dp"  style="background-color: white; height: 480px">
        <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" >
            <div class="mdl-tabs__tab-bar">
                <a href="#starks-panel" class="mdl-tabs__tab is-active">Fonoaudiologia</a>
                <a href="#lannisters-panel" class="mdl-tabs__tab">Psicomotricidad</a>
                <a href="#targaryens-panel3" class="mdl-tabs__tab">Psipedagogia</a>
                <a href="#targaryens-panel4" class="mdl-tabs__tab">Psicologia</a>
                
            </div>
            
         
            <div class="mdl-tabs__panel is-active" id="starks-panel">
                <style>
                    .demo-card-wide.mdl-card {
                        margin-top: 20px; 
                        margin-left: 20px;
                        background-color: gainsboro
                    }
                    .demo-card-wide > .mdl-card__title {
                        align-self:center;

                    }
                    .demo-card-wide > .mdl-card__menu {

                    }
                </style>
                
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Primer Informe</h2>
                    </div>
                    <div class="truncate mdl-card__supporting-text">

sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
                    </div>
                    
                    <center><div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >edit</i>
                        </a>
                        
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >delete</i>
                        </a>
                        
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >menu</i>
                        </a>    
                    </div></center>
                </div>
                
            </div>
            
            <div class="mdl-tabs__panel" id="lannisters-panel">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Segundo informe</h2>
                    </div>
                    <div class="truncate mdl-card__supporting-text">

sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
                    </div>
                    
                    <center><div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >edit</i>
                        </a>
                        
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >delete</i>
                        </a>
                        
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >menu</i>
                        </a>    
                    </div></center>
                </div>
            </div>
            <div class="mdl-tabs__panel" id="targaryens-panel3">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Tercer Informe</h2>
                    </div>
                    <div class="truncate mdl-card__supporting-text">

sdfsdfrtllmkíhdñusaíasndiasçnkdaskdn
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
                    </div>
                    
                    <center><div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >edit</i>
                        </a>
                        
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >delete</i>
                        </a>
                        
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >menu</i>
                        </a>    
                    </div></center>
                </div>
            </div>
                        <div class="mdl-tabs__panel" id="targaryens-panel4">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">cuarto Informe</h2>
                    </div>
                    <div class="truncate mdl-card__supporting-text">

sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
sdfsdfrtllmkíhdñusaíasndiasçnkdaskdna
                    </div>
                    
                    <center><div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >edit</i>
                        </a>
                        
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >delete</i>
                        </a>
                        
                        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
                            <i class="material-icons" >menu</i>
                        </a>    
                    </div></center>
                </div>
            </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>

{% endblock %}


