<html>
	<head>
		<title></title>
	</head>
	<body>
		<form action="../registrarProf/" method="POST">{% csrf_token %}
			<input type="number" maxlength="8" name="rnp" placeholder="Registro nacional de proveedores"><br>
			<input type="text" maxlength="30" name="nombres" placeholder="nombres"><br>
			<input type="text" maxlength="30" name="apellidos" placeholder="apellidos"><br>
			<input type="email"maxlength="40" name="mail" placeholder="e-mail"><br>
			<input type="number" maxlength="10" name="dni" placeholder="dni"><br>
			<input type="text" maxlength="40" name="profesion" placeholder="profesion"><br>
			<input type="number" maxlength="20" name="num_matricula" placeholder="numero de matricula"><br>
			<input type="number" maxlength="40" name="tel_personal" placeholder="telefono personal"><br>
			<input type="text" name="contra" placeholder="contra"><br>
			<input type="submit" value="Registrar Profesional">
		</form>
		<form action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"/>
				<label class="mdl-textfield__label" for="sample4">Number...</label>
				<span class="mdl-textfield__error">Input is not a number!</span>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?"/>
				<label class="mdl-textfield__label">Mail</label>
				<span class="mdl-textfield__error">El Mail no es correcto</span>
			</div>
		</form>
	</body>
</html>

