{% extends '_base/base.html' %}

{% load staticfiles %}

{% block body_block %}

<style>
	.coso{
		
		background-color: white;
		width: auto;
		height: auto;
		padding: 0.7em;
	}
</style>
<div class="mdl-grid">
	{% for presupuesto in presupuestos %}
	<div class="mdl-grid mdl-cell--12-col ">
		<div class="mdl-cell mdl-cell--7-col coso mdl-shadow--3dp">
				<p style="font-size: 1.5em;">{{presupuesto}} <a href="{{presupuesto.pk}}/pdf" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Ver PDF</a></p>
		</div>
	</div>
	
	{% endfor %}
</div>
{% endblock %}
