{% extends '_base/base.html' %}

{% load staticfiles %}

{% block body_block %}

<style>
		
.demo-card-wide > .mdl-card__title {
color: #999999;
height: 176px;
background: url('{% if paciente.foto %}{{ MEDIA_URL }}{{ paciente.foto }}{% else %}{% static 'images/dog.png' %}{% endif %}') center / cover;
}
.demo-card-wide > .mdl-card__menu {
color: #fff;
}
.mdl-card__title-text {
font-size: 2.7em;
}
.mdl-card__supporting-text{
font-size: 1em;
}
</style>

<div class="mdl-grid">
<div class="mdl-cell mdl-cell--3-col"></div>
<div class="demo-card-wide mdl-card mdl-shadow--2dp    mdl-cell mdl-cell--6-col mdl-cell--8-col-phone">
<div class="mdl-card__title">
	<h2 class="mdl-card__title-text">{{ paciente.nombres }} {{ paciente.apellidos }}</h2>
</div>
<div class="mdl-card__supporting-text">
		<b>DNI : </b>{{ paciente.dni }}<br>
		<b>Diagnostico :</b> {{ paciente.diagnostico }}<br>
		<b>Obra Social :</b>{{ paciente.obra_social }}<br>
		<b>Fecha de nacimiento :</b> {{ paciente.fecha_nacimiento|date:"d/m/Y" }}<br>
		<b>Numero de afiliado :</b> {{ paciente.numero_afiliado }}<br><br>
		<a href="{% url 'apptea:historia' paciente.id %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Historia clínica  <i class="material-icons" style="color:#7088FF;">launch</i></a></a>
		<a href="{% url 'apptea:presupuestos' paciente.id %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Presupuestos  <i class="material-icons" style="color:#7088FF;">launch</i></a></a>
</div>
</div>
</div>

{% endblock %}