{% extends '_base/base.html' %}

{% load staticfiles %}

{% block body_block %}

{% if pacientes %}
    <table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Paciente</th>
          <th>DNI</th>
          <th>N° afiliado</th>
          <th>Obra_social</th>
          <th>Horarios</th>
        </tr>
      </thead>
      <tbody>

        {% for p in pacientes %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{ p.ape_nom }}</td>
          <td>{{ p.dni }}</td>
          <td>{{ p.numero_afiliado }}</td>
          <td>{{ p.obra_social }}</td>
          <td><a id="demo-1">
                <i class="material-icons">more_vert</i>
              </a>

              <ul class="mdl-menu mdl-menu--left mdl-js-menu" for="demo-1">
                <li disabled class="mdl-menu__item" style="color: black;">Lunes 1:00 PM - 4:00 PM</li>
                <li disabled class="mdl-menu__item" style="color: black;">Miercoles 10:00 AM - 2:00 PM</li>
                <li disabled class="mdl-menu__item" style="color: black;">Jueves 2:00 PM - 6:00 PM</li>
                <li disabled class="mdl-menu__item" style="color: black;">Viernes 9:00 AM - 1:00 PM</li>
              </ul>
              <div class="mdl-tooltip" for="demo-1">
              Expandir
              </div>
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
{% endif %}

{% endblock %}