{% extends '_base/base.html' %}

{% load staticfiles %}

{% block body_block %}
<style>
	.mdl-card__title {
	color: #fff;
	height: 176px;
	background: url("{% static 'images/avion.png' %}") center / cover;
	}
		
</style>

<div class="mdl-grid">
	<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
		<div class="mdl-card__title">
			<h1 class="mdl-card__title-text">{{ titulo }} {{ paciente.nombres }}{{ informe }}<br><br>Area: {{ profesional.area }}</h1>
		</div>
		<div class="mdl-card__supporting-text">
			<form method="POST">{% csrf_token %}
			<div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
				<textarea class="mdl-textfield__input" name="contenido" type="text" rows="8" id="sample5" >{{ informe.contenido }}</textarea>
				<label class="mdl-textfield__label" for="sample5">Contenido del Informe...</label>
			</div>
			<input type="hidden" name="nombre" value="{{profesional.id}}">
			<input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Guardar">
			</form>
		</div>
	</div>
</div>
{% endblock %}