{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}

<link rel="stylesheet" href="{% static 'css/perfil-area.css' %}">

<div class="mdl-grid">

  {% for area in areas %}
    <div class="mdl-cell demo-card-square mdl-card mdl-shadow--2dp mdl-layout__content">
      <div class="mdl-card__title mdl-card--expand" >
        <h2 class="mdl-card__title-text">{{ area }}</h2>
      </div>

      <div class="mdl-card__supporting-text mdl-layout__content" style="	height: 150px; overflow-y: scrollable;">
        {% for prof in profesionales %}
        {% if prof.area == area %}    
            <h6>{{ prof }}<br></h6>
        {% endif %}
        {% endfor %}

      </div>


      <div class="mdl-card__actions mdl-card--border"><center>
        <a href="{% url 'apptea:editarArea' area.id %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons" >edit</i>
        </a>
        <a href="{% url 'apptea:desactivarArea' area.id %}" class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons" >delete</i>
        </a>
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons" >menu</i>
        </a>
        </center>

      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
